.secondSectionAnimate{
    animation: secondSectionAnimation;
    animation-timeline: view(50% auto);
}
// @keyframes secondSectionAnimation {
//     from{
//         transform: scale(0.7);
//     }
//     to{
//         transform: scale(1);
//     }
// }
.secondSectionList{
    li{
        border-bottom: 0.1px solid black;
        
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
}
.selectedOptionBackground{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}